<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete province</title>
</head>
<body>
<h1>Delete city</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/">City list</a>
</p>
<form th:action="@{/delete-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên thành phố:</td>
            <td  th:text="${city.name}"></td>
        </tr>
        <tr>
            <td>Delete:</td>
            <td th:text="${city.country.name}"></td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td  th:text="${city.area}"></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td th:text="${city.population}"></td>
        </tr>
        <tr>
            <td>GDP:</td>
            <td  th:text="${city.gdp}"></td>
        </tr>
        <tr>
            <td>Mô tả về thành phố :</td>
            <td  th:text="${city.description}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete city"></td>
        </tr>
    </table>
</form>
</body>
</html>