<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<a href="/create-city">Create new City</a>
<h1>City</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Đất nước</th>
        <th>Diện tích</th>
        <th>Dân số</th>
        <th>GDP</th>
        <th>Mô tả thành phố</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="city : ${cities}">
        <tr>
            <td th:text="${city.name}"></td>
            <td th:text="${city.country.name}"></td>
            <td th:text="${city.area}"></td>
            <td th:text="${city.population}"></td>
            <td th:text="${city.gdp}"></td>
            <td th:text="${city.description}"></td>
            <td><a th:href="@{/edit-city/__${city.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-city/__${city.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>